@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
body{
  background-image: radial-gradient(circle, #565656, #414141, #2d2d2d, #1a1a1a, #000000);
}

.container{
  font-family: 'Alata', sans-serif;
  width: 80%;
  margin-top: 2%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

h1.title{
  color: #eeeeee;
  text-align: center;
  font-weight: bold;
  font-size:4vw;
}

